<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/index :: layout(~{::title},~{::body})}">

<head>
    <title>장바구니</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>

</style>

<body>
    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Cart</h1>
            <p>
                현재 담겨있는 목록은 아래와 같습니다.
            </p>
        </div>
    </div>

    <div id="frame" style="width: 90%; margin: auto">
        <form method="post" action="/shop/cart" th:each="index : ${#numbers.sequence(0,list.size()-1)}" th:object="${orderDetail}">
            <input type="hidden" name="productNum" th:value="${products[index].productNum}">
            <!--/*상품정보 테이블*/-->
            <div class="tableContainer">
                <table class="calculation1" style="border: solid 1px #e0e0eb;">
                    <thead>
                        <tr>
                            <th colspan="10" style="padding-left: 10px; margin-bottom: 30px; border-bottom: solid 1px #e0e0eb;">일반상품[[${index+1}]]</th>
                        </tr>
                        <tr>
                            <th style="background-color: #bfd1ec; border: solid 1px #e0e0eb;"><input type="checkbox" name="checkbox" id="checkbox" /></th>
                            <th style="background-color: #bfd1ec; text-align: center; border: solid 1px #e0e0eb;">이미지</th>
                            <th style="background-color: #bfd1ec;text-align: center; width: 400px; border: solid 1px #e0e0eb;"><span>상품정보</span></th>
                            <th style="background-color: #bfd1ec; text-align: center; width: 80px; border: solid 1px #e0e0eb;">판매가</th>
                            <th style="background-color: #bfd1ec; text-align: center; border: solid 1px #e0e0eb;">수량</th>
                            <th style="background-color: #bfd1ec; text-align: center; width: 100px; border: solid 1px #e0e0eb;">배송비</th>
                            <th style="background-color: #bfd1ec; text-align: center; width: 100px; border: solid 1px #e0e0eb;">합계</th>
                            <th style="background-color: #bfd1ec; text-align: center; border: solid 1px #e0e0eb;">선택</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr style="height: 90px; background-color: #fff; text-align: center;">
                            <td style="border: 1px solid #e0e0eb;">
                                <input type="checkbox" name="checkbox">
                            </td>
                            <td style="border: 1px solid #e0e0eb;"><img style="width: 100px;" th:src="@{/assets/img/productIMG/} + ${products[index].productPhoto}"></td>
                            <td style="border: 1px solid #e0e0eb; text-align: center; padding-left: 10px; font-weight: bold;" th:name="productName" th:text="${products[index].productName}">상품 이름</td>
                            <td style="border: 1px solid #e0e0eb; padding-left: 10px"><span th:text="${#numbers.formatInteger(products[index].productPrice,3,'COMMA')}"></span>원</td>
                            <td style="width: 80px; border: 1px solid #e0e0eb;">
                                <input type="number" style="text-align: right; width: 43px; margin-bottom: 5px;" name="product-quanity"  th:value="${list[index].shoppingQuantity}">
                                <button class="btn default" style="border-radius: 3px; size: 10px;">변경</button>
                            </td>
                            <td style="border: 1px solid #e0e0eb;">2500원<br>(고정)</td>
                            <td style="border: 1px solid #e0e0eb;" th:text="${#numbers.formatInteger((products[index].productPrice + 2500) * list[index].shoppingQuantity,3,'COMMA')}"><span></span>원</td>
                            <td style="border: 1px solid #e0e0eb;">
                                <button class="btn default" style="border-radius: 3px; width: 90px; margin-bottom: 3px; font-size: 11pt; background-color: #86b7fe">주문하기</button>
                                <button class="btn default btn-danger" style="border-radius: 3px; width: 90px; margin-bottom: 3px; font-size: 11pt;" onclick="form.action='/shop/cart/form'">삭제</button>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                    <tr style="height: 60px">
                        <td colspan="5" style="text-align: left; padding-left: 10px">
                            <span>주의! 할인 적용 금액은 주문서작성의 결제예정금액에서 확인 가능합니다</span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <br>

        </form>


        <!--   결제 예정금액     -->
<!--        <table>-->
<!--            <tr>-->
<!--                <th style="background-color: #bfd1ec;text-align: center; width: 400px; border: solid 1px #e0e0eb;">총 상품금액</th>-->
<!--                <th style="background-color: #bfd1ec;text-align: center; width: 400px; border: solid 1px #e0e0eb;">총 배송비</th>-->
<!--                <th style="background-color: #bfd1ec;text-align: center; width: 400px; border: solid 1px #e0e0eb;">결제 예정 금액</th>-->
<!--            </tr>-->


<!--            <tr>-->
<!--                <th style="text-align: center; border: solid 1px #e0e0eb;"><span>0</span>원</th>-->
<!--                <th style="text-align: center; border: solid 1px #e0e0eb;">+<span>0</span>원</th>-->
<!--                <th style="text-align: center; border: solid 1px #e0e0eb;">=<span>0</span>원</th>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <br><br>-->

<!--        <div style="margin-bottom: 10px">-->
<!--            <a class="btn btn-secondary" th:href="@{#}">전체상품 주문</a>-->
<!--            <a class="btn btn-secondary" th:href="@{#}">선택상품 주문</a>-->
<!--            <a class="btn btn-warning" th:href="@{#}">쇼핑계속하기</a>-->
<!--        </div>-->

    </div>







</body>

</html>