<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Zay Shop - About Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
        <form class="row-cols-sm-auto" method="post" action="/" th:fragment="login">
            <div class="col-1">
                <div>
                    <input type="text" size="8" maxlength="8" id="id" name="id" placeholder="아이디">
                    <input type="password" size="8" maxlength="12" id="passwd" name="passwd" placeholder="비밀번호">
                </div>
                <div class="form-check">
                    <input class="col-sm-2" type="checkbox" id="saveId" name="saveId" value="save">
                    <label for="saveId">아이디저장</label>
                </div>
                <button type="submit" class="btn btn-dark">로그인</button>
                <a href="/" class="btn btn-secondary">회원가입</a>
            </div>
        </form>

</body>

</html>