<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/index :: layout(~{::title},~{::body})}">

<head>
    <title>Zay Shop - Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    .product-info{
        display: flex;

    }
    .card-img{
        width: 50%;
        height: 50%;
    }
</style>

<body th:object="${orderDetail}">


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Payment result</h1>
            <p>
                아래와 같이 주문이 확정되었습니다.
            </p>
        </div>
    </div>


    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            <form role="form">
                <div class="row product-info">
                    <div class="form-group col-md-3 mb-3">
                        <img class="card-img" th:src="@{/assets/img/productIMG/}+${product.productPhoto}">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="name">상품명</label>
                        <input type="text" class="form-control mt-1"  th:field="${product.productName}" readonly>
                        <input type="hidden" class="form-control mt-1"  th:field="${product.productNum}" >

                        <label for="size">사이즈</label>
                        <input type="text" class="form-control mt-1"  th:field="${product.productSize}" readonly>

                        <label for="sex">성별</label>
                        <th:block th:switch="${product.sex}">
                            <input th:case="${'U'}" type="text" class="form-control mt-1"  th:field="${product.sex}" readonly>
                            <input th:case="${'M'}" type="text" class="form-control mt-1"  th:field="${product.sex}" readonly>
                            <input th:case="${'W'}" type="text" class="form-control mt-1"  th:field="${product.sex}" readonly>
                        </th:block>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-6 mb-3">
                        <label for="orderName">주문자</label>
                        <input type="text" class="form-control mt-1"  name="orderName" th:value="*{orderName}" readonly>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="recipientName">수령자</label>
                        <input   type="text" class="form-control mt-1"  name="recipientName" th:value="*{recipientName}" readonly>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="orderAddress">수령자 주소</label>
                    <input  type="text" class="form-control mt-1"  name="orderAddress" th:value="*{orderAddress}" readonly>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="deliveryCharge">배송비</label>
                        <input type="text" class="form-control mt-1" name="deliveryCharge" th:value="2500" readonly>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="quantity">주문 수량</label>
                        <input type="email" class="form-control mt-1" name="orderQuantity" th:value="*{orderQuantity}" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <label for="totalAmount">총 금액</label>
                        <input type="text" class="form-control mt-1" th:value="${#numbers.formatInteger(orderDetail.totalAmount, 3, 'COMMA') + '원'}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="paymentMethod">결제 수단</label>
                        <input type="text" class="form-control mt-1" th:value="*{paymentMethod}" readonly>
                    </div>
                </div>






                <div class="row">
                    <div class="col text-end mt-2">
                        <a th:href="@{/}" class="btn btn-success btn-lg px-3">확인</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->


</body>

</html>